{% extends "Houses/Base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
body {
  background-image: url("{% static 'Houses/DRK.jpg' %}");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  margin:0;
  padding: 0;
  font-family: sans-serif;
  color: #F1C40F;
}
</style>
<body>
	<center>
	<div class="container" style="width: 50%;padding-top: 10%;text-align:left; ">
		Hey <strong style="color: yellow;">{{USER1}}</strong>,<br><br>
		You might have recieved an Email from our team on the registered Email, which contains the password reset link.<br>
		<br>Please refer the link for Resetting the Password<br><br><br><p style="font-weight: bold;">Thank You.</p>
	</div></center>
</body>
{% endblock content %}