{% extends "Houses/Base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
body
{
background-image:url("{% static 'Houses/DRK.jpg' %}");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
font-family: sans-serif;
color: #F1C40F;
margin:0;
padding: 0;
}

</style>
<center>
	<form method="POST">
		{% csrf_token %}
		<br>
		{% for message in messages %}
	        <p><strong>{{ message }}</strong></p>
	    {% endfor %}
			<label for = "USRNAME_Forget">Enter your username: </label>
			<input type="text" name="USRNAME_Forget" id="USRNAME_Forget" required><br><br>
			<input type="submit" name="submit" value="Submit">
	</form>
</center>
{% endblock content %}